{% extends 'core/base.html' %}
{% load static %}
{% block navbar %}
    {% include 'core/navbar_fixed.html' %}
{% endblock %}
{% block content %}
    <!-- Content-->
    <!-- Page content-->
      <div class="container d-flex flex-column justify-content-center pt-5 mt-n6" style="flex: 1 0 auto;">
        <div class="pt-7 pb-5">
          <div class="text-center mb-2 pb-4">
            <h1 class="mb-grid-gutter"><img class="d-inline-block" src="/static/img/pages/404/404-illustration.svg" alt="Error 404"/><span class="sr-only">Error 404</span><span class="d-block pt-3 font-size-sm font-weight-semibold text-danger">Error code: 404</span>
            </h1>
            <h2>Page not found!</h2>
            <p class="pb-2">It seems we can’t find the page you are looking for.</p><a class="btn btn-translucent-primary mr-3" href="/">Go to homepage</a><span>Or <a href="/about/contact">Contact Us</a></span>
          </div>

      </div>
{% endblock %}