{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{meta.title}}</title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="{{meta.description}}">
    <meta name="keywords" content="{{ meta.keywords }}">

    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" href="https://launchxlabs.ai/static/img/favicon.png">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" color="#5bbad5" href="/static/icons/safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#766df4">
    <meta name="theme-color" content="#ffffff">
    <!-- Page loading styles-->
    <style>
      .cs-page-loading {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: all .4s .2s ease-in-out;
        transition: all .4s .2s ease-in-out;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        z-index: 9999;
      }
      .cs-page-loading.active {
        opacity: 1;
        visibility: visible;
      }
      .cs-page-loading-inner {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: opacity .2s ease-in-out;
        transition: opacity .2s ease-in-out;
        opacity: 0;
      }
      .cs-page-loading.active > .cs-page-loading-inner {
        opacity: 1;
      }
      .cs-page-loading-inner > span {
        display: block;
        font-family: 'Inter', sans-serif;
        font-size: 1rem;
        font-weight: normal;
        color: #737491;
      }
      .cs-page-spinner {
        display: inline-block;
        width: 2.75rem;
        height: 2.75rem;
        margin-bottom: .75rem;
        vertical-align: text-bottom;
        border: .15em solid #766df4;
        border-right-color: transparent;
        border-radius: 50%;
        -webkit-animation: spinner .75s linear infinite;
        animation: spinner .75s linear infinite;
      }
      @-webkit-keyframes spinner {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      @keyframes spinner {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      
    </style>
    <!-- Page loading scripts-->
    <script>
      (function () {
        window.onload = function () {
          var preloader = document.querySelector('.cs-page-loading');
          preloader.classList.remove('active');
          setTimeout(function () {
            preloader.remove();
          }, 2000);
        };
      })();
      
    </script>
    <!-- Vendor Styles-->

    <link rel="stylesheet" media="screen" href="/static/vendor/simplebar/dist/simplebar.min.css"/>
    <link rel="stylesheet" media="screen" href="/static/vendor/tiny-slider/dist/tiny-slider.css"/>
    <link rel="stylesheet" media="screen" href="/static/vendor/lightgallery.js/dist/css/lightgallery.min.css"/>
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="/static/css/theme.min.css">
      <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-968YGVYJV0"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-968YGVYJV0');
    </script>
  </head>
  <!-- Body-->
  <body>
    <!-- Page loading spinner-->
    <div class="cs-page-loading active">
      <div class="cs-page-loading-inner">
        <div class="cs-page-spinner"></div><span>Loading...</span>
      </div>
    </div>
            <main class="cs-page-wrapper">
      <!-- Sign In Modal-->
      <div class="modal fade" id="modal-signin" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content border-0">
            <div class="cs-view show" id="modal-signin-view">
              <div class="modal-header border-0 bg-dark px-4">
                <h4 class="modal-title text-light">Sign in</h4>
                <button class="close text-light" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body px-4">
                <p class="font-size-ms text-muted">Sign in to your account using email and password provided during registration.</p>
                <form class="needs-validation" id="login_form" method="post" action="/user/login" novalidate>
                    {% csrf_token %}
                  <div class="input-group-overlay form-group">
                    <div class="input-group-prepend-overlay"><span class="input-group-text"><i class="fe-mail"></i></span></div>
                    <input class="form-control prepended-form-control" name="email" type="email" placeholder="Email" required>
                  </div>
                  <div class="input-group-overlay cs-password-toggle form-group">
                    <div class="input-group-prepend-overlay"><span class="input-group-text"><i class="fe-lock"></i></span></div>
                    <input class="form-control prepended-form-control" type="password" name="password" placeholder="Password" required>
                    <label class="cs-password-toggle-btn">
                      <input class="custom-control-input" type="checkbox"><i class="fe-eye cs-password-toggle-indicator"></i><span class="sr-only">Show password</span>
                    </label>
                  </div>
                  <div class="d-flex justify-content-between align-items-center form-group">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" id="keep-signed">
                      <label class="custom-control-label" for="keep-signed">Keep me signed in</label>
                    </div><a class="nav-link-style font-size-ms" href="/user/forgot_password">Forgot password?</a>
                  </div>
                  <button class="btn btn-primary btn-block" type="submit" form="login_form">Sign in</button>
                  <p class="font-size-sm pt-3 mb-0">Don't have an account? <a href='/register/start' class='font-weight-medium'>Sign up</a></p>
                </form>
              </div>
            </div>
            <div class="modal-body text-center px-4 pt-2 pb-4">
              <hr>
            </div>
          </div>
        </div>
      </div>
            {% block navbar %}
            {% endblock %}
      <div class="cs-offcanvas-collapse order-lg-2" id="primaryMenu">
            <div class="cs-offcanvas-cap navbar-box-shadow">
              <h5 class="mt-1 mb-0">Menu</h5>
              <button class="close lead" type="button" data-toggle="offcanvas" data-offcanvas-id="primaryMenu"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="cs-offcanvas-body">
              <!-- Menu-->
              <ul class="navbar-nav">
                </li>
                  <li class="nav-item"><a class="nav-link" href="/jobs/">Jobs</a></li>
                  {% comment %} <li class="nav-item"><a class="nav-link" href="/about/faqs">FAQs</a></li>
                  <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">About</a>
                  <ul class="dropdown-menu"> {% endcomment %}
                    <!--li><a class="dropdown-item" href="#">Team</a></li-->
                      {% comment %} <li><a class="dropdown-item" href="/about/privacy">Privacy</a></li>
                      <li><a class="dropdown-item" href="/about/terms">Terms</a></li> {% endcomment %}
                    <!--li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">Contacts</a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="contacts-v1.html">Contacts v.1</a></li>
                        <li><a class="dropdown-item" href="contacts-v2.html">Contacts v.2</a></li>
                        <li><a class="dropdown-item" href="contacts-v3.html">Contacts v.3</a></li>
                      </ul>
                    </li-->

                  </ul>
                </li>
                  {% comment %} <li class="nav-item"><a class="nav-link" href="/about/contact">Contact</a></li> {% endcomment %}

              </ul>
            </div>
          </div>
        </div>
      </header>
    {% block content %}
    {% endblock %}
    </main>
    <!-- Footer-->
    {% comment %} <footer class="cs-footer bg-dark pt-5 pt-md-6">
      <div class="container pt-3 pt-md-0">
        <div class="row pb-3">
          <div class="col-md-4 mt-n2 pb-3 pb-md-0 mb-4"><a class="d-block mb-3" href="/" style="width: 120px;"><img src="/static/img/logo/logo-light.png" alt="HireQ"/></a>
            <p class="font-size-sm text-light opacity-60 pb-2 pb-sm-3">Beautiful looking resumes, pre-verified job/education and access to HireQ network of companies, we do not stop till you get your dream job.</p><a class="social-btn sb-outline sb-facebook sb-light sb-lg mr-2 mb-2" href="{{ core_settings.HIREQ_SOCIAL_LINKS.fb }}"><i class="fe-facebook"></i></a><a class="social-btn sb-outline sb-twitter sb-light sb-lg mr-2 mb-2" href="{{ core_settings.HIREQ_SOCIAL_LINKS.tw }}"><i class="fe-twitter"></i></a><a class="social-btn sb-outline sb-instagram sb-light sb-lg mr-2 mb-2" href="{{ core_settings.HIREQ_SOCIAL_LINKS.insta }}"><i class="fe-instagram"></i></a><a class="social-btn sb-outline sb-linkedin sb-light sb-lg mr-2 mb-2" href="{{ core_settings.HIREQ_SOCIAL_LINKS.in }}"><i class="fe-linkedin"></i></a>
          </div>
          <div class="col-md-2 col-sm-4 ml-auto pb-1 mb-4">
            <div class="cs-widget cs-widget-light">
              <h4 class="cs-widget-title">Company</h4>
              <ul>
                <li><a class="cs-widget-link" href="/register/start">Register</a></li>
                <li><a class="cs-widget-link" href="/about/faqs">FAQs</a></li>
                <li><a class="cs-widget-link" href="/about/contact">Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 pb-1 mb-4">
            <div class="cs-widget cs-widget-light">
              <h4 class="cs-widget-title">Legal</h4>
              <ul>
                <li><a class="cs-widget-link" href="/about/privacy">Privacy Policy</a></li>
                <li><a class="cs-widget-link" href="/about/terms">Terms of Use</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 mb-4">
            <div class="cs-widget cs-widget-light">
              <h4 class="cs-widget-title">Partners</h4>
              <ul>
                <li><a class="cs-widget-link" href="/">HireSure.ai</a></li>

              </ul>
            </div>
          </div>
        </div>
        <hr class="border-light">
        <div class="row align-items-center my-3 pt-4">
          <div class="col-md-6 order-md-2 text-md-right mb-3">
            <ul class="list-inline font-size-sm mb-0">
              <li class="list-inline-item"><a class="nav-link-style nav-link-light" href="/about/contact">Contact</a></li>
              <li class="list-inline-item"><a class="nav-link-style nav-link-light" href="/about/privacy">Privacy</a></li>
              <li class="list-inline-item"><a class="nav-link-style nav-link-light" href="/about/terms">Terms</a></li>
            </ul>
          </div>
          <div class="col-md-6 order-md-1 mb-3">
            <p class="font-size-sm mb-0">© <a class="nav-link-style nav-link-light" href="https://www.hireq.ai/" target="_blank" rel="noopener">HireQ.ai</a><span class="text-light opacity-50 mr-1"> All rights reserved.</span></p>
          </div>
        </div>
      </div>
    </footer> {% endcomment %}
    <!-- Back to top button--><a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted font-size-sm mr-2">Top</span><i class="btn-scroll-top-icon fe-arrow-up">   </i></a>
    <!-- Vendor scrits: js libraries and plugins-->
    <script src="/static/vendor/jquery/dist/jquery.slim.min.js"></script>
    <script src="/static/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/vendor/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <script src="/static/vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="/static/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="/static/vendor/tiny-slider/dist/min/tiny-slider.js"></script>
    <script src="/static/vendor/lightgallery.js/dist/js/lightgallery.min.js"></script>
    <script src="/static/vendor/lg-video.js/dist/lg-video.min.js"></script>
    <script src="/static/vendor/shufflejs/dist/shuffle.min.js"></script>
    <script src="/static/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <!-- Main theme script-->
    <script src="/static/js/theme.min.js"></script>
  </body>
</html>