{% extends 'core/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block navbar %}
    {% include 'core/navbar_fixed.html' %}
{% endblock %}
{% block content %}
    <!-- Page content-->
      <div class="container py-5 py-md-7">
        <div class="row align-items-center pt-2">
          <div class="col-md-6 col-lg-5 mb-5 mb-md-0">
            <div class="bg-secondary px-4 py-5 p-sm-5 rounded-lg">
              <h1 class="h3 pt-1">Reset password</h1>
              <p class="font-size-ms text-muted">We will send a the link to recover password on your email.</p>
                {% for message in messages %}
                  <div class="alert {% if message.tags == "error" %}alert-danger{% else %}alert-success{% endif %} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message| safe }}
                  </div>
                {% endfor %}
              <form class="needs-validation" novalidate method="post">
                  {% csrf_token %}

                <div class="input-group-overlay form-group">
                  <div class="input-group-prepend-overlay"><span class="input-group-text"><i class="fe-mail"></i></span></div>
                  <input class="form-control prepended-form-control" type="email" name="email" placeholder="Email" required>
                </div>

                <button class="btn btn-primary btn-block" type="submit">Reset now</button>
                <div class="border-top text-center mt-4 pt-4">
                    <p class="font-size-sm font-weight-medium text-heading">New to HireQ? <a href="/register/start">Register here</a></p>

                </div>
              </form>
            </div>
          </div>
            <div class="col-md-6 offset-xl-1"><img class="d-block mx-auto" src="/static/img/pages/coming-soon/illustration.svg" alt="Illustration"/>
          </div>
        </div>
      </div>
{% endblock %}
