{% extends 'core/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block navbar %}
    {% include 'core/navbar_fixed.html' %}
{% endblock %}
{% block content %}
    <!-- Page content-->
      <div class="container py-5 py-md-7">
        <div class="row align-items-center pt-1">
          <div class="col-md-8 col-lg-6 mb-5 mb-md-0">
            <div class="bg-secondary px-4 py-5 p-sm-5 rounded-lg">
              <h1 class="h3 pt-1">Register</h1>
              <p class="font-size-ms text-muted">Create beautiful looking resumes and access HireQ network of companies in as less as 15 min.</p>
              {% for message in messages %}
                  <div class="alert {% if message.tags == "error" %}alert-danger{% else %}alert-success{% endif %} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message| safe }}
                  </div>
                {% endfor %}
                <form class="needs-validation" novalidate method="post" oninput='password2.setCustomValidity(password2.value != password.value ? "Passwords do not match." : "")'>
                  {% csrf_token %}
                  <div class="input-group-overlay form-group">
                  <div class="input-group-prepend-overlay"><span class="input-group-text"><i class="fe-user"></i></span></div>
                      {% render_field form.name  class="form-control prepended-form-control" placeholder="Name" %}
                </div>
                <div class="input-group-overlay form-group">
                  <div class="input-group-prepend-overlay"><span class="input-group-text"><i class="fe-mail"></i></span></div>
                    {% render_field form.email  class="form-control prepended-form-control" placeholder="Email" %}
                </div>
                  <div class="input-group-overlay form-group">
                      <div class="row">
                          <div class="col-6">
                              {% render_field form.country class="custom-select" %}
                          </div>
                          <div class="col-6">
                              {% render_field form.mobile  class="form-control" placeholder="Mobile" %}
                          </div>
                      </div>

                </div>
                <div class="input-group-overlay cs-password-toggle form-group">
                  <div class="input-group-prepend-overlay"><span class="input-group-text"><i class="fe-lock"></i></span></div>
                    {% render_field form.password  class="form-control prepended-form-control" type="password" placeholder="Password" %}
                  <label class="cs-password-toggle-btn">
                    <input class="custom-control-input" type="checkbox"><i class="fe-eye cs-password-toggle-indicator"></i><span class="sr-only">Show password</span>
                  </label>
                </div>
                  <div class="input-group-overlay cs-password-toggle form-group">
                  <div class="input-group-prepend-overlay"><span class="input-group-text"><i class="fe-lock"></i></span></div>
                  <input class="form-control prepended-form-control" type="password" name="password2" placeholder="Confirm Password" required>
                  <label class="cs-password-toggle-btn">
                    <input class="custom-control-input" type="checkbox"><i class="fe-eye cs-password-toggle-indicator"></i><span class="sr-only">Show password</span>
                  </label>
                </div>

                <button class="btn btn-primary btn-block" type="submit">Sign up</button>
                <div class="border-top text-center mt-4 pt-4">
                  <p class="font-size-sm font-weight-medium text-heading">Existing user? <a class="nav-link-style font-size-ms" href="/user/login">login here</a></p>
                </div>
              </form>
            </div>
          </div>
            <div class="col-md-4 offset-xl-2"><img class="d-block mx-auto" src="/static/img/pages/coming-soon/illustration.svg" alt="Illustration"/>
          </div>
        </div>
      </div>
{% endblock %}
{% block body_end %}
  <script>
    $(document).on('ready', function () {
        // Select US location
        var endpoint = 'http://ip-api.com/json/?fields=status,message,countryCode';
        $.getJSON(endpoint,function (data) {
            if(data.status !== 'success') {
                    console.log('query failed: ' + response.message);
                }
            //alert(data.countryCode);
            if (data.countryCode == "US"){
                $("#id_country").val(data.countryCode).change();
            }
        });
    });
  </script>
{% endblock %}
